:root {
  --orange: hsl(26, 100%, 55%);
  --shadow: rgba(255, 125, 26, 0.3);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black-lightbox: hsl(0, 0%, 0%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

button {
  background: none;
  border: none;
  font-family: inherit;
}

/* TOP NAV */
.topnav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.topnav div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topnav div:first-child {
  gap: 12px;
}

.topnav div:last-child {
  gap: 24px;
}

.menu-btn {
  margin-top: 3px;
}

.avatar {
  width: 25px;
}

/* MOBILE MENU */
.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 35%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(0%);
  transition: transform 0.2s ease;
}

.menu-overlay.hide {
  transform: translateX(100%);
}

.menu {
  position: fixed;
  top: 0;
  width: 65%;
  height: 100vh;
  padding: 20px;
  z-index: 100;
  background-color: var(--white);
  transition: transform 0.2s ease;
}

.menu.hide {
  transform: translate(-100%);
}

.menu-options {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-top: 60px;
  font-weight: 700;
  color: var(--very-dark-blue);
}

/* PRODUCT */

.product-container {
  position: relative;
}

/* PRODUCT CART */
.shopping-cart {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 1%;
  right: 2.5%;
  z-index: 10;
  width: 95%;
  height: 250px;

  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
  pointer-events: all;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  transition: all 0.2s ease-out;
}

.shopping-cart.hide {
  opacity: 0;
  transform: translateY(50px);
  visibility: hidden;
  pointer-events: none;
}

.shopping-cart-title {
  padding: 20px;
  font-weight: 700;
  border-bottom: 1px solid var(--grayish-blue);
}

.shopping-cart-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.shopping-cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  margin-bottom: 24px;
}

.shopping-cart-item-info {
  display: flex;
  gap: 4px;
  color: var(--dark-grayish-blue);
}

.shopping-cart-item-image {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.shopping-cart-item-price {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  gap: 6px;
}

.shopping-cart-item-count-price {
  display: flex;
  gap: 12px;
}

.shopping-cart-item-total-price {
  color: black;
  font-weight: 700;
}

.shopping-cart-checkout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;

  background-color: var(--orange);
  color: var(--white);
  padding: 16px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}
/* SLIDER */

.product-slider {
  position: relative;
}

.product-slider-btn {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: var(--white);
  transform: translateY(-50%);
  cursor: pointer;
}

.product-slider-btn.next-btn {
  right: 4%;
}

.product-slider-btn.prev-btn {
  left: 4%;
}

.product-slider-btn img {
  width: 10px;
}

.product-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* PRODUCT INFO */
.product-info {
  padding: 20px;
}

.product-brand {
  font-size: 12px;
  font-weight: 700;
  color: var(--orange);
  margin-bottom: 16px;
}

.product-name {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}

.product-paragraph {
  color: var(--dark-grayish-blue);
  margin-bottom: 20px;
}

.product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  font-weight: 700;
}

.product-price div:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-with-discount-price {
  font-size: 30px;
}

.product-discount {
  padding: 3px 6px;
  color: var(--orange);
  background-color: var(--pale-orange);
  border-radius: 4px;
}

.product-total-price {
  color: var(--dark-grayish-blue);
  font-weight: 400;
  text-decoration: line-through;
}

/* PRODUCT COUNT */

.product-count-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: var(--light-grayish-blue);
}

.product-count {
  font-size: 20px;
  font-weight: 700;
}

.add-to-cart-btn {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 16px;
  font-size: 16px;

  background-color: var(--orange);
  color: var(--white);
  width: 100%;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 8px;
  font-weight: 700;

  box-shadow: var(--shadow) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.add-to-cart-btn svg {
  fill: var(--white);
}
